<%= render "recipies/navbar" %>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Create New Recipe</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
      <%= render 'form', recipy: @recipy %>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<p id="notice"><%= notice %></p>
<div>
Download file:
<%= link_to CSV, recipies_path(format:'csv')%>
</div><br>
  <div id="cre">
    <h1>Recipies</h1>
  </div>

  <tbody id="table">
   
<div class="container">
<div class="row">
<% @recipies.each do |recipy| %>
  <%= render 'recipy', recipy:recipy %>
<% end %>
</div>
</div> 
</tbody>


<h2>Import CSV Files only</h2>

<%= form_tag import_recipies_path, multipart: true do %>
  <%= file_field_tag :file, accept: 'text/csv' %>
  <%= submit_tag "Import"%>
<% end %>