<%# for navbar %>

<%= render "recipies/navbar" %>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Editing Recipe</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <%= render 'edit', recipy:@recipy %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="d-inline"><p id="notice"><%= notice %></p></div>

<%= link_to image_tag(@recipy.image, style:'width:100%; height: 350px;'), recipies_path,:class=>'img' %>



<table class="table table-striped table-hover">
  <thead class="heading">
    <tr>
      <th scope="col"style='color:cadetblue'></th>
      <th scope="col"style='color:cadetblue'>Ingredients</th>
      <th scope="col"style='color:cadetblue'>Quantity</th>
      <th scope="col"style='color:cadetblue'>Unit</th>
    </tr>
  </thead>
  <tbody>


     <p> Name of the Recipe is: <b><%= @recipy.name %></b></p>
      <p>Procedure is:<b><%= @recipy.procedure %><b></p>
  <% @recipy.recipy_ingredients.each do |ingredient| %>
    <tr>
      <th scope="row">*</th>
      <td><% i = Ingredient.find(ingredient.ingredient_id) %>
    <%= i.name %></td>
      <td><%= ingredient.quantity %></td>
      <td><%= ingredient.unit %></td>
    </tr>
    <% end %>
  </tbody>
</table>
