<%= render "ingredients/navbar" %>


<p id="notice"><%= notice %></p>

<h1>Ingredients</h1>

<table class="table table-striped table-hover">
  <thead class="heading">
    <tr>
      <th scope="col"style='color:cadetblue'></th>
      <th scope="col"style='color:cadetblue'>Name</th>
      <th scope="col"style='color:cadetblue'> Actions </th>
      <th scope="col"style='color:cadetblue'></th>
      <th scope="col"style='color:cadetblue'></th>
    </tr>
  </thead>
  <tbody>
  <% @ingredients.each do |ingredient| %>
    <tr>
      <th scope="row">*</th>
      <td style='color:cadetblue'><%= ingredient.name %></td>
      <td><%= link_to 'Show', ingredient %></td>
      <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
      <td><%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
